NIXPKGS_DIR='.nixpkgs'
DEST_NAME='nixpkgs-channels-nixos-17.09'
if [ ! -d "$PWD/$NIXPKGS_DIR/$DEST_NAME" ]; then
  mkdir -p "./$NIXPKGS_DIR"
  pushd $NIXPKGS_DIR
  # last known working revision: 5141f28405e5d31f21c10869dfc86ff340053787
  git clone --depth 1 --branch nixos-17.09 --single-branch \
    https://github.com/NixOS/nixpkgs-channels "$DEST_NAME" --depth 1
  popd
fi
export "NIX_PATH=nixpkgs=$PWD/$NIXPKGS_DIR/$DEST_NAME"
echo $NIX_PATH
use_nix
